{% extends "base.html" %} {% block title %}Ad Request Details{% endblock %} {%
block content %}
<div class="container mt-5">
  <h2 class="text-center">Ad Request Details</h2>
  <div class="card mt-4">
    <div class="card-body">
      <h4>Ad Name: {{ ad_request.ad_name }}</h4>
      <p><strong>Description:</strong></p>
      <p>{{ ad_request.description }}</p>
      <p><strong>Terms:</strong></p>
      <p>{{ ad_request.terms }}</p>
      <p><strong>Payment:</strong> ${{ ad_request.payment }}</p>
      <p>
        <strong>Influencer Assigned:</strong> {{ ad_request.influencer_name }}
      </p>
      <div class="text-center">
        {% if user_role == 'influencer' %}
        <a href="{{ url_for('influencer_profile') }}" class="btn btn-primary"
          >Back</a
        >
        {% elif user_role == 'sponsor' %}
        <form
          method="GET"
          action="{% if source == 'details' %}{{ url_for('campaign_details', campaign_id=ad_request.campaign_id) }}{% elif source == 'profile' %}{{ url_for('sponsor_profile') }}{% endif %}"
        >
          <button class="btn btn-primary">Back</button>
        </form>
        {% elif user_role == 'admin' %}
        <a href="{{ url_for('admin_info') }}" class="btn btn-primary">Back</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
