{% extends "base.html" %} {% block title %}Admin Find{% endblock %} {% block
content %}
<div class="search-filter">
  <input type="text" class="form-control" placeholder="Search" />
  <button class="btn btn-secondary ml-1">Filter</button>
</div>
<div class="card">
  <div class="card-body">
    <div class="d-flex justify-content-between align-items-center">
      <span>Sponsor Name | Details</span>
      <div>
        <button class="btn btn-view">View</button>
        <button class="btn btn-flag">Flag</button>
      </div>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <div class="d-flex justify-content-between align-items-center">
      <span>Campaign Name | Details</span>
      <div>
        <button class="btn btn-view">View</button>
        <button class="btn btn-flag">Flag</button>
      </div>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <div class="d-flex justify-content-between align-items-center">
      <span>Inf. Name | Details</span>
      <div>
        <button class="btn btn-view">View</button>
        <button class="btn btn-flag">Flag</button>
      </div>
    </div>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <div class="d-flex justify-content-between align-items-center">
      <span>Inf. Name | Details</span>
      <div>
        <button class="btn btn-view">View</button>
        <button class="btn btn-flag">Flag</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
