{% extends "base.html" %} {% block title %}Update Campaign{% endblock %} {%
block content %}
<div class="container mt-5">
  <h2 class="text-center">Update Campaign</h2>
  <form
    method="POST"
    action="{{ url_for('update_campaign', campaign_id=campaign.id) }}"
  >
    <div class="form-group">
      <label for="title">Title:</label>
      <input
        type="text"
        class="form-control"
        id="title"
        name="title"
        value="{{ campaign.title }}"
        required
      />
    </div>
    <div class="form-group">
      <label for="description">Description:</label>
      <textarea
        class="form-control"
        id="description"
        name="description"
        rows="4"
        required
      >
{{ campaign.description }}</textarea
      >
    </div>
    <div class="form-group">
      <label for="image">Image URL:</label>
      <input
        type="text"
        class="form-control"
        id="image"
        name="image"
        value="{{ campaign.image }}"
      />
    </div>
    <div class="form-group">
      <label for="niche">Niche:</label>
      <input
        type="text"
        class="form-control"
        id="niche"
        name="niche"
        value="{{ campaign.niche }}"
        required
      />
    </div>
    <div class="form-group">
      <label for="budget">Budget:</label>
      <input
        type="number"
        class="form-control"
        id="budget"
        name="budget"
        value="{{ campaign.budget }}"
        required
      />
    </div>
    <div class="form-group">
      <label for="start_date">Start Date</label>
      <input
        type="date"
        class="form-control"
        id="start_date"
        name="start_date"
        value="{{ campaign.start_date.strftime('%Y-%m-%d') }}"
        required
      />
    </div>
    <div class="form-group">
      <label for="end_date">End Date</label>
      <input
        type="date"
        class="form-control"
        id="end_date"
        name="end_date"
        value="{{ campaign.end_date.strftime('%Y-%m-%d') }}"
        required
      />
    </div>
    <div class="form-group form-check">
      <input
        type="checkbox"
        class="form-check-input"
        id="is_public"
        name="is_public"
        checked
      />
      <label class="form-check-label" for="is_public">Public</label>
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-success">Update Campaign</button>
      <a href="{{ url_for('sponsor_campaigns') }}" class="btn btn-danger"
        >Cancel</a
      >
    </div>
  </form>
</div>
{% endblock %}
