{% extends "base.html" %} {% block title %}Influencer Details{% endblock %} {%
block content %}
<div class="container mt-5">
  <h1>Influencer Details</h1>
  <p>Name: {{ influencer.user.name }}</p>
  <p>Email: {{ influencer.user.email }}</p>
  <p>Social Networks: {{ influencer.social_networks }}</p>
  <p>Category: {{ influencer.category }}</p>
  <p>Niche: {{ influencer.niche }}</p>
  <p>Reach: {{ influencer.reach }}</p>
  <div class="text-center">
    {% if user_role == 'sponsor' %}
    <a href="{{ url_for('sponsor_find') }}" class="btn btn-primary">Back</a>
    {% elif user_role == 'admin' %}
    <a href="{{ url_for('admin_find') }}" class="btn btn-primary">Back</a>
    {% endif %}
  </div>
</div>
{% endblock %}
